/*
vh vs. % article
https://stackoverflow.com/questions/31039979/css-units-what-is-the-difference-between-vh-vw-and
 */
body {
	height: 100vh;
}
/* row color */
div.row {
	border: 1px dashed blue;
}
/* cell color */
div.row > div {
	border: 1px solid red;
}
div.tall-row {
	height: 300px;
}

body {
	background-color: #e6e6e6;
	background-size: cover;
}

nav, h3 {
	font-family: Abel, Serif;
}

span img {
	width: 30px;
	height: 30px;
}

h1, h2, .circle, .icon {
	font-family: Anton, Serif;
}

.circle {
	margin: 15px;
}

#red {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 10px solid white;
	color: white;
	border-radius: 100%;
	background-color: #e6563b;
}

#orange {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 10px solid white;
	color: white;
	border-radius: 100%;
	background-color: #eb9d3a;
}


#green {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 10px solid white;
	color: white;
	border-radius: 100%;
	background-color: #7cb06c;
}

#blue {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 10px solid white;
	color: white;
	border-radius: 100%;
	background-color: #00aba9;
}

.icon.red{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	color: black;
	border-radius: 100%;
	background-color: #e6563b;
	border-color: #e6563b;
	padding: 12px;
}
.icon.orange{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    color: black;
	border-color: #eb9d3a;
    border-radius: 100%;
    background-color: #eb9d3a;
    padding: 12px;
}
.icon.green{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    color: black;
    border-radius: 100%;
    background-color: #7cb06c;
	border-color: #7cb06c;
    padding: 12px;
}
.icon.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    color: black;
    border-radius: 100%;
    background-color: #00aba9;
	border-color: #00aba9;
    padding: 12px;
}

.selected-img {
	border: 15px solid #f0f0f0;
}

